{% extends "layout.html" %}
{% block title %}myRIO/roboRIO Stack Dashboard{% endblock %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<script>
$(document).ready(
        function(){        
            $("#main-frame").load(
                    function(){
                        $(this).width($(this).parent().width())
                        var windowHeight = $(document).height() - $('nav').height() - 10;
                        $(this).height(windowHeight)
                    } 
                    );

        });

window.onresize=function(){  
    var iframe = $("#main-frame")
        var windowHeight = $(document).height() - $('nav').height() - 10
        iframe.height(windowHeight);
        iframe.width($("#main-frame").parent().width())
}
</script>
{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-center">myRIO/roboRIO Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ username }}</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a class="text-center section-label"><b>myRIO/roboRIO</b></a></li>   
                {% for year in years%}
                <li><a target="main-frame" href="myrio_roborio_stack_dashboard/{{ year }}" id="welcome-link">myRIO/roboRIO Stack Dashboard {{ year }}</a></li>
                {% endfor %}
                <li class="active"><a class="text-center section-label"><b>myRIO</b></a></li>   
                {% for year in years%}
                <li><a target="main-frame" href="toolkit_installer_dashboard/myRIO/{{ year }}">Toolkit Installer Dashboard {{ year }}</a></li> 
                <li><a target="main-frame" href="bundle_installer_dashboard/myRIO/{{ year }}">Bundle Installer Dashboard {{ year }}</a></li> 
                {% endfor %}
                <li class="active"><a class="text-center section-label"><b>roboRIO</b></a></li>   
                {% for year in years%}
                <li><a target="main-frame" href="toolkit_installer_dashboard/roboRIO/{{ year }}">Toolkit Installer Dashboard {{ year }}</a></li> 
                <li><a target="main-frame" href="bundle_installer_dashboard/roboRIO/{{ year }}">Bundle Installer Dashboard {{ year }}</a></li> 
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <iframe name="main-frame" src="myrio_roborio_stack_dashboard/{{ current_year }}" marginHeight=0 marginWidth=0 frameborder="0" id="main-frame">
            </iframe>
        </div>
    </div>
</div>

{% endblock %}
