<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="A site for demonstrating myRIO/roboRIO stack and installer information">
        <meta name="author" content="Sean">
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/myRIO.png') }}"/>
        <link rel="bookmark" href="{{ url_for('static', filename='images/myRIO.png') }}"/>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock%}
    </body>
</html>
