{% extends "layout.html" %}
{% block title %}myRIO/roboRIO 2016 Stack Dashboard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div id="main" style="margin: 0; padding: 0;">
    <h1>myRIO/roboRIO 2016 Stack Dashboard</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Validated Stack</th>
                    <th>LabView Build Version(lvVersion)</th>
                    <th>LabView API Version(lvAPIVersion)</th>
                    <th>Safemode(myRIO/roboRIO)</th>
                    <th>Sanity Test Result</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
                <tr>
                    <td><a class="jive-link-external-small" href="http://niweb.natinst.com/confluence/display/RIOSW/RIO+Build+20150624_1715f3+with+06-18+LV+Stack" rel="nofollow">RIO Build 20150624_1715f3 with 06-18 LV Stack</a></td>
                    <td>15.0</td>
                    <td>15.0.0r0</td>
                    <td>3.0.0f0/3.0.0f0</td>
                    <td>Pass</td>
                    <td>I'm the comments.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
